body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #330066;
}

.edit-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.edit-form input, .edit-form select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.edit-form button {
    width: 100%;
    padding: 10px;
    background-color: #330066;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.edit-form button:hover {
    background-color: #290054;
}

.button {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #FF4500;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #FF3300;
}

/* Media Queries for responsive design */
@media (max-width: 600px) {
    .dashboard {
        padding: 15px;
        margin: 10px auto;
        max-width: 100%;
    }

    h2 {
        font-size: 24px;
    }

    .edit-form input, .edit-form select, .edit-form button, .button {
        width: calc(100% - 12px);
        padding: 8px;
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .dashboard {
        padding: 18px;
        margin: 15px auto;
        max-width: 80%;
    }

    h2 {
        font-size: 28px;
    }

    .edit-form input, .edit-form select, .edit-form button, .button {
        width: calc(100% - 18px);
        padding: 9px;
        font-size: 15px;
    }
}

@media (min-width: 993px) {
    .dashboard {
        padding: 20px;
        margin: 20px auto;
        max-width: 70%;
    }

    h2 {
        font-size: 32px;
    }

    .edit-form input, .edit-form select, .edit-form button, .button {
        width: calc(100% - 22px);
        padding: 10px;
        font-size: 16px;
    }
}
